.content-check , .green{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    font-size:4rem;
    color:green;
    font-weight:550;
  div{
    font-size:2rem
  }
    i{
        font-size:5rem;
    }
}

@media all and (max-width:1100px){
  .content-check , .green{
    font-size:1.5rem !important;

    div{
      font-size: 1.4rem !important;
    }
  }
}